.frame{
    background-color: rgb(249, 249, 249);
    width: 400px;
    height: 700px;
    margin: auto;
    margin-left: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column; 
    background: #ececec;
}

.back{
    background-color: #48a38e;
    width: 400px;
    height: 100px;
    padding-bottom: 120px;
    position: absolute;
}

.details{
width: 350px;
height: 167px;
flex-shrink: 0;
fill: #FFF;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.303));
background-color: rgb(255, 255, 255);
border-radius: 30px;
margin-top: 80px;
}

.assentos{
    width: 348px;
height: 400px;
flex-shrink: 0;
border-radius: 30px;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.364);
margin-top: 30px;
}

.ass{
    width: 213px;
height: 315px;
flex-shrink: 0;
border-radius: 10px;
background: #ade0d4;
margin: 40px;
}

.btn{
    width: 80px;
    height: 43px;
    flex-shrink: 0;
    fill: #5AA996;
    background-color: #3a9b85;
    position: absolute;
    right: -13px;
    bottom: 95px;
    border-radius: 10px;
    
}