.Login{
    background-color: rgb(249, 249, 249);
    width: 400px;
    height: 700px;
    margin: auto;
    margin-left: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.info {
    color: black;
    
}

.Login .login{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin: auto;
    width: 90%;
    background-color: rgb(255, 255, 255);
    height: 40%;
}

.login input{
    width: 300px;
    height: 40px;
    gap: 10px;
    margin: 20px;
    border-radius: 10px;
    border-style: none;
margin-left: 50px;
background-color: rgb(220, 220, 220);
}

.login button{
   position: relative;
   top: 40px;
   left: 100px;
}