.frame{
    width: 400px;
    height: 700px;
    margin: auto;
    margin-left: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column; 
    background: #782d2d;
}

.reser{
    background-color: aqua;
    width: 400px;
    height: 300px;
    position: absolute;
    background-image: url('');
}

.reserva{
    width: 393px;
height: 400px;
flex-shrink: 0;
background-color: aqua;
border-radius: 15px;
background: #FFF;
filter: blur(0.2px);
margin-top: 300px;
display: flex;
align-items: center;
flex-direction: column;
justify-items: center;
gap: 10px;
}

.reserva input{
    display: inline-flex;
    width: 200px;
height: 20px;
padding: 10px 63px 10px 18px;
align-items: center;
flex-shrink: 0;
border-radius: 15px;
border: 1px solid rgba(20, 76, 63, 0.5);
background: rgba(90, 169, 150, 0.05);
}

.reserva p{
    color: black;
}